* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo img {
  width: 200px;
  height: 70px;
  padding-left: 40px;
}

.main-header nav {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header nav a {
  text-decoration: none;
  color: #326871;
  text-transform: uppercase;
  font-weight: 400;
  font-size: medium;
}

.menu-btn {
  margin-right: 60px;
}

.main-header button {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #e44033, #e55949, #e44033);
}

.main-header button:hover{
    /* background-image: linear-gradient(to right, #8DBB37, #97CA41, #8DBB37); */
    background-image: linear-gradient(to right, #4A9EE2, #65B6F8, #4A9EE2);
    cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .right-section {
  padding-right: 80px;
}

main .left-section {
  padding-left: 100px;
}

.left-section h2 {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 400;
  color: #3d8592;
  margin-top: 80px;
}

.left-section h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  color: #326871;
  margin: 30px 0;
}

.left-section p {
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #3d8592;
}

.left-section button {
  margin-top: 20px;
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #e44033, #e55949, #e44033);
}

.left-section button:hover {
  /* background-image: linear-gradient(to right, #8DBB37, #97CA41, #8DBB37); */
  background-image: linear-gradient(to right, #4A9EE2, #65B6F8, #4A9EE2);
  cursor: pointer;
}
